@font-face {
    font-family: 'Cabin', sans-serif;
    src: url(../font/PT_Sans-Web-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    letter-spacing: .8px;
    font-size: 1em;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url(../icons/argyle.png) center;
    overflow: hidden;
}

.container {
    width: 720px;
    height: 320px;
    margin: 20px auto 0 auto;
}

.show {
    display: none;
}

.search {
    position: relative;
    width: inherit;
    height: 45px;
    top: 55px;
    border: none;
    outline: none;
    text-indent: 10px;
    border-radius: 5px;
    background: url(../icons/searching-tool.png) no-repeat rgba(255, 255, 255, .25);
    background-position: 98% 6px;
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .4);
}

input[type='button'] {
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    width: 225px;
    margin-left: 9px;
    height: 40px;
    padding-right: 38px;
    line-height: 40px;
    border-radius: 6px;
    background: url(../icons/thin-arrowheads-pointing-down.png) right no-repeat rgba(255, 255, 255, .2);
    background-position: 185px 11px;
    color: #fff;
    top: 25px;
    font-weight: bold;
    font-size: 1.05em;
    cursor: pointer;
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, .4);
}

@keyframes topDown {
    0% {   background-position: 185px 11px;  transition: all 1s linear;}
    50% {  background-position: 185px 16px; transition: all 1s linear;}
    100% { background-position: 185px 11px;  transition: all 1s linear;}
}

.lang:hover {
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .4);
    animation: topDown .8s infinite;
}

input[type='button']:active {
    top: 26px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 0 2px 9px rgba(255, 255, 255, .4);
    font-size: 1.6em;
    background: url(../icons/3d-dictionary.png) center no-repeat;
    background-position: 225px 0;
    padding-left: 30px;
}

.translate {
    margin: 0 auto;
    width: 600px;
    height: 200px;
    position: relative;
    top: -10px;
}

#translate {
    display: block;
    margin: 0 auto;
    background: url(../icons/arrow-pointing-down.png) no-repeat rgba(255, 255, 255, .2);
    background-position: 95% 7px;
}

#translate:hover {
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .4);
    transition: box-shadow .3s;
}

#word {
    margin-top: 40px;
    height: 120px;
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .4);
    padding-top: 25px;
    padding-left: 30px;
    font-size: 1.16em;
    color: #fff;
    font-weight: 700;
}


/****** jQuery Autocomplete CSS *************/

.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-menu {
    position: relative;
    top: 5px;
    border: 1px solid lightgray;
    max-width: 718px;
    max-height: 150px;
    overflow-y: scroll;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
}

.ui-menu .ui-menu-item {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 1.1em;
    padding-left: 10px
}

.ui-menu .ui-menu-item:hover {
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #333;
    background-image: none;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
    border: 1px solid lightgray;
    background-image: none;
    background-color: lightgray;
    font-weight: bold;
    color: #fff;
}

.ui-helper-hidden-accessible {
    display: none !important;
}